@import "tailwindcss";


/* body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 2rem;
}

.login-container, .dashboard {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  background: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

.error {
  color: red;
}

.info {
  color: orange;
} */
